<html lang="pl" ng-app="app">
<head>

<link href="bootstrap-3.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/style.css">


<script src="js/jquery.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-resource.min.js"></script>
<script src="bootstrap-3.3.1-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls.min.js"></script>
<script src="js/sockjs-0.3.4.min.js"></script>
<script type="text/javascript" src="js/stomp.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</head>

<body class="container" ng-controller="Controller">
<header class="bs-header text-center" >
	<div class="container">
		<h1>Asystent Wyboru Roweru</h1>
	</div>

</header>
<div ng-init="init()">

<h3 ng-show="availableQuestions">Pytanie : {{questionNumber}}</h3>
{{question.content}} ?
<span ng-repeat="answer in question.possibleAnswers">
<button class="btn" ng-click="answerQuestion(question.number,answer.number)">
          <span class="glyphicon glyphicon-pencil"></span>{{answer.content}}
        </button>
</span>

<h3>Rowery</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Numer</th>
      <th>Nazwa</th>
      <th>Cena</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="bike in bikes" collapse="isCollapsed">
      <td>{{bike.number}}</td>
      <td>{{ bike.name }}</td>
      <td>{{ bike.price }} zł</td>
    </tr>
  </tbody>
</table>

</div>
</body>

</html>